body {
  font-family: arial;
  color: black;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
.padding_top_reset {
  padding-top: 0 !important;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
.padding_left_reset {
  padding-left: 0;
}
.padding_t_twenty {
  padding-top: 20px;
}

.logo_img_ocean {
  width: 200px;
  line-height: 80px;
}
header {
  height: 80px;
  color: white;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
nav img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.burger_menu {
  height: 58px;
  line-height: 80px;
}
.burger_menu i {
  font-size: 25px;
  vertical-align: middle;
  color: #006aff;
}

.navigation_list {
  float: left;
  margin-left: 80px;
  line-height: 91px;
}
.user_list {
  float: right;
  line-height: 91px;
}

.list_inline {
  list-style: none;
  display: inline-block;
}
.list_inline li {
  display: inline-block;
  padding: 0 10px;
  color: black;
}
.list_inline li a {
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.list_inline li i {
  font-size: 18px;
}

.btn_nav {
  color: #006aff;
  border-color: #006aff;
  font-size: 16px;
}

#jumbotron {
  width: 100vw;
  padding-bottom: 50px;
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbo_top h1 {
  padding-top: 50px;
  font-weight: 550;
  font-size: 35px;
  color: white;
}
.jumbo_top p {
  font-size: 22px;
  font-weight: 400;
  opacity: 0.8;
  color: white;
}
.sign_up_box {
  width: 100%;
  border-radius: 5px;
  background-color: white;
}

.deploy_app {
  padding-top: 30px;
  font-weight: bolder;
}
.get_started {
  color: #006aff;
  margin: 0;
  font-weight: bolder;
}
.sign_up_box input {
  display: block;
  width: 90%;
  margin: 10px auto;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid lightgray;
  opacity: 0.8;
  padding: 10px;
}
.btn_sign_up {
  display: block;
  width: 90%;
  margin: 10px auto;
  background-color: #006aff;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  opacity: 0.7;
}
.btn_sign_up_google {
  display: block;
  width: 90%;
  margin: 10px auto;
  background-color: white;
  color: black;
  border-radius: 5px;
  font-weight: bolder;
  opacity: 0.7;
}
.btn_sign_up_google i {
  float: left;
  font-size: 18px;
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.jumbo_bottom p {
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.jumbo_bottom span {
  display: inline;
  color: #006aff;
}

#customer {
  padding-bottom: 30px;
  background-color: #F3F5F9;
}
#customer h5 {
  color: gray;
  font-weight: 530;
  font-size: 16px;
  padding-top: 40px;
}
.customer_logo {
  width: 170px;
  height: 92px;
  line-height: 92px;
}
.customer_logo img {
  width: 100%;
  height: 100%
}
#customer a {
  margin-top: 20px;
  font-size: 16px;
  color: #006aff;
}

#deploy:last-child {
  padding-bottom: 50px;
}
#deploy h2 {
  padding-top: 30px;
  font-size: 30px;
}
#deploy  p{
  font-size: 22px;
  opacity: 0.6;
}
#deploy_list {
  margin-top: 50px;
}
#deploy_list  ul {
  height: 250px;
  padding: 10px;
  border-left: 2px solid lightgray;
}
#deploy_list ul li {
  padding: 8px 0;
  font-size: 22px;
  opacity: 0.6;
  list-style-type: none;
}
#deploy h4 {
  font-weight: bolder;
}

#developers {
  background-color: #F3F5F9;
  padding-bottom: 30px;
}
#developers:last-child {
  padding-bottom: 50px;
}
#developers h2 {
  padding-top: 30px;
  font-size: 30px;
}
#developers  p{
  font-size: 22px;
  opacity: 0.6;
}
#dev_sliders {
  position: relative;
  width: 100%;
}
#dev_sliders .chevron_right {
  position: absolute;
  top: 60%;
  left: 78%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
#dev_sliders .chevron_left {
  position: absolute;
  top: 60%;
  left: 23%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
#dev_sliders img {
  max-width: 50%;
  padding-top: 50px;
  padding-left: 8px;
  padding-bottom: 20px;
}
#dev_sliders figcaption {
  font-size: 16px;
  color: black;
}
#developers  ul {
  padding-top: 20px;
  list-style-type: none;
}
#developers ul li {
  display: inline-block;
}
#developers ul li i {
  color: #006aff;
}

#business {
  margin-bottom: 50px;
}
#business h2 {
  padding-top: 50px;
  padding-bottom: 30px;
  font-weight: bolder;
  font-size: 33px;
}
#business [class*='col-'] h3 {
  font-size: 20px;
  font-weight: bolder;
  opacity: 0.8;
}
#business [class*='col-'] p  {
  font-size: 16px;
  opacity: 0.7;
}
#business [class*='col-'] a  {
  font-size: 16px;
  color: #006aff;
}

#service {
  background-color: #033EBB;
  color: white;

}
#service h3 {
  font-weight: bolder;
  font-size: 30px;
}
.service_left {
  margin-bottom: 30px;
}
.service_content {
  padding: 10px 0;
  border-bottom: 1px solid white;
}
.service_content:last-child {
  border-bottom: none;
}
.server_location {
  opacity: 0.8;
}
#service .service_content a {
  color: #00d7d2;
}

#development_teams {
  background-color: #F3F5F9;
  padding-bottom: 50px;
}
#development_teams h2 {
  font-weight: bolder;
  font-size: 33px;
  padding-top: 50px;
}
#dev_teams_sliders {
  position: relative;
  width: 100%;
}
#dev_teams_sliders .chevron_left {
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
#dev_teams_sliders .chevron_right {
  position: absolute;
  top: 50%;
  left: 86%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
.team_box {
  width: 60%;
  height: 90%;
  background-color: white;
  border-radius: 5px;
  margin-left: 22%;
  margin-top: 70px;
}
.team_box img {
  max-width: 99%;
  padding-top: 40px;
  padding-bottom: 30px;
}
.team_box h5 {
  font-weight: bolder;
}
.team_box h4 {
  padding-bottom: 30px;
  font-size: 16px;
}
.team_box a {
  font-size: 16px;
  color: #006aff;
  padding-bottom: 30px;
}
.img_description {
  font-size: 23px;
  opacity: 0.6;
  padding-bottom: 0 !important;
}

#development_teams  ul {
  padding-top: 20px;
  list-style-type: none;
}
#development_teams ul li {
  display: inline-block;
}
#development_teams ul li i {
  color: #006aff;
}

#get_started  {
  background-color: #033EBB;
  padding-bottom: 50px;
}
#get_started h3 {
  color: white;
  font-weight: bolder;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.btn_create_account {
  padding: 10px;
  color: #006aff;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
}

footer {
  background-color: #031B4E;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}
footer img {
  padding-bottom: 10px;
}
footer h4 {
  font-weight: bolder;
}
#footer_copyright {
  color: gray;
  font-weight: bolder;
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 0;
}
#footer_made {
  color: lightgray;
  font-size: 15px;
  opacity: 0.6;
}
.social_list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}
.social_list li {
  display: inline-block;
  margin-right: 10px;
}
.social_list a {
  display: inline-block;
  font-size: 25px;
  color: lightgray;
  opacity: 0.6;
}
.footer_list {
  list-style: none;
  padding-left: 0;
}
.footer_list a {
  color: lightgray;
  font-size: 15px;
  line-height: 30px;
}


@media screen and (max-width: 768px) {
  #business h2 {
    padding-bottom: 0;
  }
  #business [class*='col-'] {
    padding-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper_list {
    width: 90%;
    margin: 50px auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customer_logo {
    width: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper_lg_reset {
    width: 100%;
  }
  .service_lg_left {
    width: 49%;
  }
  .service_lg_right {
    float: right;
    width: 49%;
  }
}
